.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.filter-button {
    padding: 10px 20px;
    border: 1px solid #1D6154;
    border-radius: 60px;

    font-family: 'Syne';
    font-weight: 700;
    color: #1D6154;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
.filter-button.active {
    background-color: #1D6154;
    color: white;
}


my-edithead{
    width: 100%;
}
.editHead{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    background: #000000;
    color: white;
    .edit{
        display: flex;
        align-items: center;
        gap: 10px;
    }

}




/* index.html Projects */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 660px;
    max-height: 80%;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width:100% ;
    ._close {
        align-self: flex-end;

    }
    h3 {
        font-size: 30px;
        margin-bottom: 25px;

    }
}
.close-modal {
    cursor: pointer;
    font-size: 24px;
}
.gallery-grid {
    width: 100%;
    max-width: 420px;
    margin-bottom: 25px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
    gap: 20px 10px;
}
.gallery-item {
    position: relative;
}
.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.delete-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: black;
    color: white;
    height: 15px;
    width: 15px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sep{
    display: block;
    width: 100%;
    max-width: 420px;
    height: 1px;
    background-color: black;
    margin: 20px 0;

    box-sizing: border-box;
}
.add-photo-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 40px;
    border-radius: 50px;
    background-color: #1D6154;
    color: white;
    border: none;
    /*border-radius: 5px;*/
    cursor: pointer;
    font-family: 'Syne', sans-serif;
}


.back-modal{
    height: 15px;
    width: 15px;
    svg{
        width: 100%;
        height: 100%;
    }
}

.photo-upload-area img {
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
}
#file-upload {
    display: none;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 660px;
    max-height: 80%;
    box-sizing: border-box;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    width:100% ;
    ._close {
        display: flex;
        justify-content: space-between;
        width: 100%;
        span{
            cursor: pointer;
        }
    }
    h3 {
        font-size: 30px;
        margin-bottom: 25px;

    }
}
.close-modal {
    cursor: pointer;
    font-size: 24px;
}
.add-photo-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 420px;
}
.photo-upload-area {
    background-color: #E8F1F6;
    border-radius: 3px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.photo-upload-area svg {
    width: 58px;
    height: 58px;
    color: #B9C5CC;
}
.photo-upload-btn {
    background-color: #CBD6DC;
    border-radius: 50px;
    padding: 10px 33px;
    color: #306685;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.photo-upload-info {
    font-size: 10px;
    color: #444444;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-group label {
    color: #515151;
    font-weight: 600;
}
.form-group input, .form-group select {
    box-sizing: border-box;
    height: 51px;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    padding: 10px;
}
.valider-btn {
    background-color: #A7A7A7;
    color: white;
    border: none;
    border-radius: 60px;
    padding: 10px 49px;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 14px;
    align-self: center;
    cursor: pointer;
}


.projectsHead {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
    gap: 25px;
    h2{
        margin: 0 !important;
    }
    .edit-button{
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        transition: all 0.3s ease;
        &:hover{
            color: #555555;
        }
    }
}